<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <title>Form Index</title>
  </head>
  <body>
    <form method="post" action="submit">
      <p><input type="text" name="name" placeholder="Name" /></p>
      <p><input type="text" name="surename" placeholder="Surename" /></p>
      <p><input type="number" name="age" placeholder="Age" min="0" /></p>
      
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
