@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Event Registration System</h1>
    <p>This is a small application based on many-to-many relationships of such data models.</p>
    <b>
        <img src="~/images/tin_diagram.svg" alt="tin_db">
    </b>
    <p></p>
</div>
