@model EventRegistrationSystem.Models.Artist

@{
    ViewData["Title"] = "Create";
}

<h2>New Artist</h2>
<hr />

<div class="container">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="NumberOfMembers" class="control-label"></label>
                <input asp-for="NumberOfMembers" class="form-control" min="1" />
                <span asp-validation-for="NumberOfMembers" class="text-danger"></span>
            </div>
            <div class="mb-4">
                <label asp-for="EmailAddress" class="control-label"></label>
                <input asp-for="EmailAddress" class="form-control" />
                <span asp-validation-for="EmailAddress" class="text-danger"></span>
            </div>

            <div class="row">
                <div class="col">
                    <input type="submit" value="Create" class="btn btn-primary w-100" />
                </div>
                <div class="col">
                    <a asp-action="Index" class="btn btn-danger w-100">Back to List</a>
                </div>
            </div>
        </form>
        
    </div>                
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
